.wrapper{
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.header {
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
    font-weight: 700;
    font-size: 36px;
    color: #333;
}
[class*="__container"] {
	font-family: "Poppins", sans-serif;
    max-width: 1266px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.page__products{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    color: #3a3a3a;
}
@media (width < 1266px) {
	.page__products {
	font-size: 36px;
	}
}
@media (width < 949px) {
	.page__products {
		font-size: 32px;
	}
}
@media (width < 632px) {
	.page__products {
		font-size: 28px;
	}
}
.page__title-our {
    margin-bottom: 32px;
}

@media (width < 1266px) {
	.page__title-our{
	margin-bottom: 24px;
	}
}
@media (width < 949px) {
	.page__title-our{
	margin-bottom: 18px;
	}
}
@media (width < 632px) {
	.page__title-our{
	margin-bottom: 14px;
	}
}
.page__products-cards {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
}
@media (width < 949px) {
	.page__products-cards{
	gap: 22px;
	}
}
.page__products-cards:not(:last-child) {
	margin-bottom: 32px;
}
@media (width < 949px) {
	.page__products-cards:not(:last-child) {
	margin-bottom: 22px;
}
}
.page__products-card{
    position: relative;
    display: block;
}
.page__sale {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #e97171;
    font-weight: 500;
    color: #fff;
    transition:  0.8s;
}
.page__new {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #2EC1AC;
    font-weight: 500;
    color: #fff;
    transition: background-color 0.8s,
	color 0.8s;
}
.page__products-content {
    background: #f4f5f7;
    padding-left: 15px;
}
.page__products-link-title {
    font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
    color: #3a3a3a;
    margin-top: 16px;
}
@media (width < 632px) {
	.page__products-link-title{
		font-size: 18px;
	}
}
.page__products-account {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
    margin-top: 8px;
}
@media (width < 632px) {
	.page__products-account{
		font-size: 12px;
	}
}
.page__products-prices {
    display: flex;
    margin-top: 8px;
}
.page__products-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3a3a3a;
    margin-bottom: 28px;
}
@media (width < 632px) {
	.page__products-price{
		font-size: 14px;
	}
}
.page__products-price-old {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    padding-bottom: 28px;
    color: #b0b0b0;
    margin: 3px 0 0 16px;
}
@media (width < 632px) {
	.page__products-price-old{
		font-size: 12px;
	}
}
.page__products-action-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	background-color: rgba(58, 58, 58, 0.72);
	z-index: 3;
    transition:  0.8s;
}
.page__products-cards :hover .page__products-action-body {
    opacity: 1;
	visibility: visible;
}
.page__products-action-buttom{
    display: flex;
    text-align: center;
}
.page__products-buttom-white {
	padding: 12px 55px;
    margin-bottom: 24px;
	background-color: #fff;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #b88e2f;
    transition: background-color 0.8s,
	color 0.8s;
}

.page__products-buttom-white:hover {
	background-color: #b88e2f;
	color: #fff;	
}
.page__products-icons{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	gap: 20px;
    justify-content: center;
}
.page__products-icons a {
    display: inline-flex;
    align-items: center;
}
.page__products-icon-share::before {
	content: "";
	background: url('../img/icons_share.svg') 0 0 / 100% no-repeat;
	width: 16px;
	height: 18px;  
}
.page__products-icon-share,
.page__products-icon-compare,
.page__products-icon-like {
    transition:  0.8s;
}
.page__products-icon-share:hover,
.page__products-icon-compare:hover,
.page__products-icon-like:hover {
    text-decoration: underline;
}
.page__products-icon-compare::before{
    content: "";
	background: url('../img/icon_compare.svg') 0 0 / 100% no-repeat;
	width: 16px;
	height: 18px;  
}
.page__products-icon-like::before {
    content: "";
	background: url('../img/icon_heart.svg') 0 0 / 100% no-repeat;
	width: 16px;
	height: 18px;  
}
.page__show-buttom{
    display: flex;
    justify-content: center;
}
.page__buttom-show-footer {
    padding: 12px 74px 12px 82px;
    margin-bottom: 20px;
	text-align: center;
    font-weight: 600;
	font-size: 16px;
	border: 1px solid #b88e2f;
    color: #b88e2f;
	line-height: 1.5;
	transition: 
	background-color 0.8s,
	color 0.8s;
}
.page__buttom-show-footer:hover {
	border: 1px solid #b88e2f;
	background-color: #b88e2f;
	color: #fff;
	transition: 
	background-color 0.8s,
	color 0.8s;
}







