@import url("./components.css");
@import url("./header.css");

body {
	font-family: "Inter", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 81.875rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.products {
	padding: 3.125rem 0rem;
}
.products__container{
    margin-top: 11.4375rem;
}
.products__header-block {
	margin-bottom: 6rem;
}
.products__items {
	display: flex;
	gap: 2.5rem;
	flex-wrap: wrap;
}
.products__item {
	flex: 1 1 25rem;
}
.item-product {
	background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
	padding: 1rem;
	border-radius: 1.875rem;

	display: flex;
	flex-direction: column;
}
.item-product__header {
	position: relative;
}
.item-product__link-image {
	display: block;
	border-radius: 1.25rem;
	overflow: hidden;
}
.item-product__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 368 / 250;
	transition: scale 0.8s;
}
.item-product__image:hover {
	scale: 1.05;
}
.item-product__favorite {
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
	border-radius: 50%;
	width: 3rem;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
}
.item-product__favorite--active path {
	fill: #ff6363;
}
.item-product__body {
	padding: 1.5rem 0.5rem 1rem 0.5rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.item-product__title{
    font-size: 1.5rem;
	font-weight: 600;
	text-wrap: balance;
	line-height: 1.33; 
}
.item-product__link-title:hover {
	text-decoration: underline;
}
.item-product__link-title:not(:last-child) {
	margin-bottom: 1.5rem;
}
.options-item-product {
	display: flex;
	gap: 1.5rem;
}

.product-gradient-item {
	position: relative;
	display: inline-block;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 2.5rem 1.25rem ;
	align-items: center;
	justify-content: center;
	background-image: 
	url("../img/icons/star.svg"),
	radial-gradient( circle at center, #357355 0%, #1d483b 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.product-gradient-item__image07{
	object-fit: cover;
	
}
.product-gradient-item__link{
	position: absolute;
	font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}
.product-gradient-item__link-image-gradient {
	display: block;
	width: 100%;
	text-align: center;
}
.product-gradient-item__title07{
	font-family: "Lobster";
	display: block;
	max-width: 10.75rem;
	font-weight: 400;
	text-wrap: balance;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
	margin: 0 auto 1.25rem auto;
}

.options-item-product__item {
	font-weight: 500;
	font-size: 0.875rem;
	display: flex;
	gap: 0.625rem;
	align-items: center;
	color: rgba(0, 0, 0, 0.6);
}
.options-item-product__item::before {
	content: "";
	flex-basis: 1.5rem;
	flex-shrink: 0;
	aspect-ratio: 1;
}
.options-item-product__item--timer::before {
	background: url("../img/icons/timer.svg") center / contain no-repeat;
}
.options-item-product__item--snack::before {
	background: url("../img/icons/snack.svg") center / contain no-repeat;
}
@media (width < 62em) {
	.products__header-block {
	margin-bottom: 2.5rem;
	}
	.products__items {
	gap: 1.25rem;
	}
} 
.hero-banner__container,
.chef-banner__contant {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
@media (width < 76.0625em) {
	.hero-banner__container {
	display: grid;
	grid-template-columns: 1fr ;
}
} 

.hero-banner__content {
	background-color: #E7FAFE;
	padding: 3.125rem;
    border-radius: 3rem 0 0 3rem;
}
.hero-banner__badge {
	font-family: "Inter", sans-serif;
	font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: -0.02em;
    color: #000;
	border-radius: 1.875rem;
    width: 9.75rem;
    height: 2.8125rem;
	background: #fff;
	display: flex;
    align-items: center;
    gap: 0.8125rem;
    padding: 0.6875rem 1.25rem 0.625rem;
}
.hero-banner__title {
	text-wrap: balance;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #000 ;
	margin-top: 2rem;
}
.hero-banner__description {
	text-wrap: balance;
	font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.6);
	margin-top: 1.5rem;
}
.hero-banner__meta-list {
	display: flex;
	gap: 1.0625rem;
	margin-top: 1.875rem;
}
.hero-banner__meta-item--time {
	padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1.875rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    
}
.hero-banner__meta-item--time::before{
	content: "";
	width: 1.5rem;
	height: 1.5rem;
    background: url('../img/icons/timer.svg') center no-repeat;
}
.hero-banner__meta-item--category {
	padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
    border-radius: 1.875rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.hero-banner__meta-item--category::before{
	content: "";
	width: 1.5rem;
	height: 1.5rem;
    background: url('../img/icons/snack.svg') center no-repeat;
}

.author-meta {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.author-meta__info {
	display: grid;
	gap: 0.5rem;
	flex-shrink: 0;

}
.author-meta__name {
	font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.02em;
    color: #000;
}
.author-meta__date {
	font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.hero-banner__footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 9.8125rem;
	margin-top: 6.6875rem;
}
.button-primary {
	display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
    padding: 1.3125rem 1.6875rem;
	flex-shrink: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19;
    letter-spacing: -0.02em;
    color: #fff;
	gap: 0.9375rem;
	transition: 0.6s;
}
.button-primary:hover{
	text-decoration: underline;
}
.button-primary__icon {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-flex;
	align-items: center;
	
}
.hero-banner__visual{
    flex-shrink: 0;
}
.hero-banner__visual img {
	border-radius: 0 3rem 3rem 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	object-fit: cover;
}

.chef-banner__media {
	position: relative;
	display: inline-block;
}
.chef-banner__icon-badge{
	max-width: 100%;
	height: auto;
	display: block;
}
.chef-banner__badges1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
	pointer-events: none;
}
.categories__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10.125rem;
	
}
.categories__title {
	font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.04em;
    color: #000;
	
}
.categories__view-all-link {
	border-radius: 1rem;
	background: #e7fafe;
	font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.02em;
    color: #000;
	padding: 1.3125rem 1.6875rem;
}
.categories__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.category-card {
	border-radius: 1.875rem;
	display: flex;
	margin-top: 5rem;
    flex-direction: column;
    align-items: center;
	text-align: center;
    padding: 0 0.625rem 1.875rem;
	width: 11.25rem;
    height: 12.625rem;
	background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}
.category-card:nth-child(2) {
	background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}
.category-card:nth-child(3){
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}
.category-card:nth-child(4){
	background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}
.category-card:nth-child(5){
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.category-card:nth-child(6){
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.category-card__image-wrapper {
	position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    transition: scale 0.5s;
}

.category-card__title {
	font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}


.chef-banner__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 1.25rem;
	width: 100%;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50%;
	margin-right: -50%;
}
@media (width < 53.125em) {
	.chef-banner__content  {
	display: grid;
	grid-template-columns: 1fr ;
}
} 
.chef-banner__media{
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
	border-radius: 1.875rem;
    max-width: 100%;
    height: auto;
	
}
.chef-banner__content  {
	position: relative;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
.chef-banner__badges-meat{
	position: absolute;
	top: 10%;
	left: 15%;
}
.chef-banner__badges-tomato{
	position: absolute;
	top: 70%;
	left: -4%;
}
.chef-banner__badges-onion{
	position: absolute;
	top: 13%;
	left: 71%;
}
.chef-banner__badges-small-vegan {
	position: absolute;
	top: 20%;
	left: 85%;
}
.chef-banner__title{
	font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.04em;
    color: #000;
	margin-top: 10.5625rem;
}
.chef-banner__description {
	font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.6);
	margin-top: 1.5rem;
}

.chef-banner__button  {
	display: inline-flex;
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
    padding: 1.375rem 3.3125rem;
	flex-shrink: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19;
    letter-spacing: -0.02em;
    color: #fff;
	gap: 0.9375rem;
	margin-top: 4.5rem;
	transition: 0.6s;
}
.chef-banner__button:hover{
    text-decoration: underline;
}
@media (max-width: 67.8125em) {
	.chef-banner__container {
	grid-template-columns: 1fr ;
	row-gap: 3.125rem;
	text-align: center;
}
}
.products__container{
	background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}
.posts-cards{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2.5rem;
}
.post-card {
	background-color: #fff;
	overflow: hidden;
}
.post-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem;
}
.post-card__author {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}
.post-card__avatar{
    width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	object-fit: cover;
}
.post-card__info h3 {
	font-weight: 600;
    font-size: 0.625rem;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #262626;
}
.post-card__info h3::after {
    content: url("../img/icons/official-icon.svg");
	padding-left: 6px;
}
.post-card__info p {
	font-weight: 400;
    font-size: 0.5rem;
    letter-spacing: 0.01em;
    color: #262626;
}
.post-card__menu {
	background: transparent;
	border: none;
	cursor: pointer;
}
.post-card__media {
	position: relative;
}
.post-card__media img {
	width: 100%;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: scale 0.8s;
}
.post-card__media img:hover {
	cursor: pointer;
	scale: 1.05;
}
.post-card__counter {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.625rem;
	background: rgba(18, 18, 18, 0.7);
	font-weight: 400;
    font-size: 0.5625rem;
    color: #f9f9f9;
}
.post-card__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem;
}
.post-card__group {
	display: flex;
	gap: 0.75rem;
}
.post-card__action {
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	cursor: pointer;
}
.post-card__icon {
	width: 1.5rem;
	height: 1.5rem;
}
.post-card__pagination {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
	margin-bottom: 0.75rem;
}
.post-card__dot {
	width: 0.3125rem;
	height: 0.3125rem;
	border-radius: 50%;
	background-color: #c4c4c4;
	transition: 0.6s;
}
.post-card__dot:hover {
	background-color: #3897f0;
	cursor: pointer;
}
.post-card__dot--active {
	background-color: #3897f0;
}
.post-card__content {
	padding: 0 0.75rem 0.75rem;
}
.post-card__content p:first-child {
	margin-bottom: 0.5rem;
	display: flex;
	gap: 0.3125rem;
	font-weight: 400;
    font-size: 0.625rem;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #262626;
}
.post-card__content p:first-child::before {
	content: url("../img/prodocts/Oval.png");

	
}
.post-card__content p:nth-child(2) {
	margin-bottom: 0.75rem;
	font-weight: 400;
    font-size: 0.625rem;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #262626;
}

.post-card__content time {
	font-weight: 400;
    font-size: 0.5rem;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.4);
}

.posts-cards__button2 {
	display: flex;
	justify-content: center;
	width: 100%;
	grid-column: 1 / -1;
	padding-top: 5.0625rem;
	padding-bottom: 5.0625rem;
	justify-content: center;
}
.posts-cards__button-footer {
    align-items: center;
    background-color: #000;
    border-radius: 1rem;
    padding: 1.375rem 2rem;
	display: flex;
	flex-shrink: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19;
    letter-spacing: -0.02em;
    color: #fff;
	gap: 1.0625rem;	
	margin: 0 auto ;
	transition:0.9s;
}
.posts-cards__button-footer:hover{
	text-decoration: underline;
}
.posts-cards__icon-footer {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-flex;
	align-items: center;
	
}

.posts-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2.5rem;
	width: 100%;
}  
.posts-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	margin: 0;
	padding: 0;
	gap: 1.25rem;
	width: 100%;
} 