*{
    color: red;
}
/* Коментар */
a {
    color: blue;
}
/* Коментар */
.block {
    color: antiquewhite;
}
.title {
    color: blueviolet;
}
.list {
    color: brown;
}
.item {
    color: chartreuse;
}
.link {
    color: blue;
}
.sub-title {
    color: crimson;
}
.text {
    color: darkorange;
}
.footer {
    color: deeppink;
}
/* Коментар */
#some-id{
    color:black;
}
/* Коментар */
[class*="su"]{
    color: black;
}
[title]{
    color: blueviolet;
}
/* Коментар */
li.some-item{
    color: red;
}
/* Коментар */
.item,
.footer-title,
div{
    color: brown;
}
/* Коментар */
.footer a {
    color: blue;
}
.article h1 {
    color: yellow;
}
/* Коментар */
.article > i{
    color: black;
}
/* Коментар */
.article ~ p{
    color: aqua;
}
.article + i{
    color: yellow
}